<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926510339760-hevqf8s1h40q10u92hcqhp3ul30b0dos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926510339760-hevqf8s1h40q10u92hcqhp3ul30b0dos</string>
	<key>API_KEY</key>
	<string>AIzaSyComiNiiuQM6N2_PICqHvYznsxlsCpqnqw</string>
	<key>GCM_SENDER_ID</key>
	<string>926510339760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vortexconsortium.vchatter</string>
	<key>PROJECT_ID</key>
	<string>vchatter</string>
	<key>STORAGE_BUCKET</key>
	<string>vchatter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926510339760:ios:4d154ddeb01abd1891cd75</string>
</dict>
</plist>